{% extends "base.html" %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<h2>Lista de Usuarios</h2>
<a href="{{ url_for('usuario_form') }}" class="add-link">Agregar Usuario</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id_usuario }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.mail }}</td>
            <td><a href="{{ url_for('delete_usuario', id=usuario.id_usuario) }}" class="btn">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}